@import-normalize;
@import "helper";
*{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
*::before,*::after{
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
body{
  font-family:$font-hei;
  font-size: 16px;
  line-height: 1.2;
  background: #99c5e8;
}
button{
  font-family: inherit;
}
:focus{
  outline: none;
}
.icon{
  width: 1em;
  height: 1em;
}